<%- partial('partials/html-top') %>
<body class="home" ng-app="main-ui">
<div class="main">
    <div class="main-wrapper clearfix">
        <header id="main-header" class="site-header clearfix">
            <div id="header" class="box-animate">
                <div id="main-menu" class="displayNone" ng-controller="main-menu">
                    <button class="header-icon menu"></button>
                </div>
                <div class="main-menu-vertical">
                    <ul>
                        <li class="MSelected"><a href="/" title="">Главная</a></li>
                    </ul>
                </div>
                <h1 class="site-title site-name">Travel <span>Blog</span></h1>
                <p class="site-description">Лучший туристичекий блок Казахстана</p>
            </div>
        </header>
        <div class="site-content main-grid">
            <div class="grids2">
                <% for(var i = 0;i < listProducts.length;i++) { %>
                <article>
                    <div class="GImage"><img src="http://127.0.0.1:8030/images/001.jpg" alt="<%= listProducts[i].name %>">
                    </div>
                    <div class="GIntres">
                        <time datetime="<%- listProducts[i].date %>"><%- moment(listProducts[i].date).format('DD.MM.YYYY') %></time>
                        <h5>
                            <a href="/post/<%= listProducts[i].slug %>.html" title="<%= listProducts[i].name %>"><%= listProducts[i].name %></a>
                            <a class="GILink" href="/post/<%= listProducts[i].slug %>.html" title="ПОДРОБНЕЕ...">Подробнее...</a>
                        </h5>
                        <span class="nickname"><%- listProducts[i].category.name %></span>
                        <div class="GIntresText"><%- listProducts[i].description %></div>
                    </div>
                </article>
                <% } %>
            </div>
        </div>
    </div>
    <%- partial('partials/footer') %>
</div>
<%- partial('partials/html-bottom') %>