<%- partial('partials/html-top') %>
<body class="inner">
<div class="main">
    <div class="main-wrapper clearfix">
        <%- partial('partials/header') %>
        <div class="main-center ">
            <div class="col-xs-12 site-content">
                <article>
                    <h1><%= post.name %></h1>
                    <div class="ArticleTags">
                        <span><%= post.category.name %></span>
                        <time datetime="post.date"><%- moment(post.date).format('DD MMMM') %></time>
                    </div>
                    <div class="SCSmallDesc">
                        <%- post.description %>
                    </div>
                    <div class="otherItems">
                        <h2 class="big">Смотрите также....</h2>
                        <div class="site-content main-grid">
                            <div class="grids2">
                                <% for(let i=0;i<otherPosts.length;i++){ %>
                                <div class="article">
                                    <div class="GImage">
                                        <img ng-if="otherPosts[i].image.file" src="<%= otherPosts[i].image.dir + 'big_'+otherPosts[i].image.file %>" alt="<%= otherPosts[i].name %>" />
                                    </div>
                                    <div class="GIntres">
                                        <time datetime="2015-05-10"><%- moment(otherPosts[i].date).format('DD MMMM') %></time>
                                        <h5><a href="/post/<%= otherPosts[i].slug %>.html" title="<%= otherPosts[i].name %>"><%= otherPosts[i].name %></a></h5>
                                        <span class="nickname"><%= otherPosts[i].category ? otherPosts[i].category.name : ''%></span>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <%- partial('partials/footer') %>
    </div>
<%- partial('partials/html-bottom') %>