<footer class="site-footer clearfix">
    <div id="footer-sidebar">
        <aside class="widget">
            <div id="copy">
                ©2017
                <span id="f-site-name" class="site-name">Travel-blog<span>.kz</span></span>
                <span id="f-site-desc">Лучший туристичекий блок Казахстана</span>
            </div>
        </aside>
    </div>
</footer>